<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tribune.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.tribune.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password"  jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="head_img" property="headImg" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="cloumnList">
       id,username,password,sex,birthday,email,head_img
    </sql>
    <select id="findUserByUsername" resultType="com.tribune.pojo.User">
        select * from user where username=#{userName};
    </select>
    <insert id="insertUser" parameterType="com.tribune.pojo.User">
        insert into user (username,password,sex,birthday,email,head_img)
                    values (#{userName},#{password},#{sex},#{birthday},#{email},#{headImg});
    </insert>
    <update id="updateUserById" parameterType="com.tribune.pojo.User">
        update user set
            email = #{email,jdbcType=VARCHAR}
        where id=#{id}
    </update>
    <select id="selectUserList" parameterType="com.tribune.pojo.User" resultMap="baseResultMap">
        select <include refid="cloumnList"/> from user;
    </select>

</mapper>