<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnable" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--代理-->
        <setting name="proxyFatory" value="CGLIB"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--该参数默认为false，设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!--该参数默认为false设置true是，使用RowBounds分页进行count查询-->
            <property name="rowBoundsWithCount" value="true"/>
            <!--设置为true时，如果pageSize=0或者RowRounds.limit=0会查询出全部的结果(相当于每一偶执行分页查询，但返回结果仍然是page类型)-->
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>
</configuration>